  <tr class="row">
      <td class="text-left"><%= message.message_type %></td>      
      <td class="text-center longtext"><%= link_to message.message, edit_message_path(message) %></td>
      <td class="text-right"><%= message.show %></td>
  </tr>