  <tr class="row">
      <td class="text-left"><%= message.message_type %></td>
      <td class="text-left"><%= message.show %></td>
      <td class="text-left longtext"><%= link_to message.message, edit_message_path(message) %></td>
  </tr>