<% provide(:title, "Message List")  %>
<div class="jumbotron">
  <h3 class="center">Messages</h3>

  <table class="table table-striped table-condensed games">
    <thead>
      <tr class="row">
        <th class="col-md-1 text-left">Type</th>
        <th class="col-md-1 text-left">Show</th>
        <th class="col-md-10 text-left">Message</th>
      </tr>
    </thead>
    <tbody>
      <% if @messages.empty? %>
        <tr class="row"><td colspan="3" class="col-md-offset-2 text-center">No Messages Found.</td></tr>
      <% else %>
        <%= render @messages %>
      <% end %>              
    </tbody>
  </table>
</div>