  <tr class="row">
      <td class="text-left"><%= seat.seat %></td>
      <td class="text-center longtext"><%= seat.clan %></td>      
      <td class="text-right longtext"><%= seat.handle %></td>
  </tr>