<div class="jumbotron center">
<% provide(:title, "Login")  %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= link_to image_tag("sits_large_border.png", alt: "Sign in through Steam"), 'auth/steam' %>
    </div>
  </div>
</div>
