  <tr class="row">
      <td class="text-left longtext"><%= link_to network.name, edit_network_path(network) %></td>
      <td class="text-left"><%= link_to network.cidr, edit_network_path(network) %></td>

  </tr>