  <tr class="row">
      <td class="text-left longtext"><%= link_to network.network, edit_network_path(network) %></td>
      <td class="text-left"><%= link_to network.min, edit_network_path(network) %></td>
      <td class="text-left"><%= link_to network.max, edit_network_path(network) %></td>
  </tr>