<tr class="row">
    <td class="text-left col-md-offset-2 longtext"><%= host.game.gameextrainfo %></td>
    <td class="text-center"><%= link_to host.gameserverip, edit_host_path(host) %></td>
    <td class="text-right longtext"><%= host.name %></td>
</tr> 