<tr class="row">
    <td class="text-left col-md-offset-2 longtext"><%= server.game.gameextrainfo %></td>
    <td class="text-center"><%= link_to server.gameserverip, edit_server_path(server) %></td>
    <td class="text-right longtext"><%= server.name %></td>
</tr> 