$('#servers').html('
  <div id="message">
    <% @messages.each do |m| %>
      <div class="alert alert-<%= m.message_type %>"><%= sanitize m.message %></div>
    <% end %>    
  </div>
  <div class="jumbotron">   
    <table class="table table-striped table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th class="col-md-2 text-left">Game</th>
          <th class="col-md-1 text-center"><span class="glyphicon glyphicon-tags" title="Tags"></span></th>
          <th class="col-md-3 text-left">Name</th>
          <th class="col-md-1 text-right">Players</th>
          <th class="col-md-1 text-center"><span class="glyphicon glyphicon-user" title="Quakecon Attendees"></span></th>
          <th class="col-md-2 text-left">Map</th>
          <th class="col-md-2 text-right">Address</th>
        </tr>
      </thead>
      <tbody>
        <%= escape_javascript (render @servers || "<tr><td colspan="7" class="text-left">No Games Found.</td></tr>") %>                 
      </tbody>
    </table>
  </div>');