  <tr class="row">
      <td class="text-left"><%= group.steamid %></td>
      <td class="text-center longtext"><%= link_to group.name, edit_group_path(group) %></td>      
      <td class="text-right"><%= yesno(group.enabled) %></td>
  </tr>