  <tr class="row">
      <td class="text-left"><%= group.groupid64 %></td>
      <td class="text-left longtext"><%= link_to group.name, edit_group_path(group) %></td>      
      <td class="text-left"><%= group.enabled %></td>
  </tr>