<% provide(:title, "Groups List")  %>
<div class="jumbotron">
  <h3 class="center">Groups</h3>
  <table class="table table-striped table-condensed games">
    <thead>
      <tr class="row">
        <th class="col-md-2 text-left">ID</th>
        <th class="col-md-9 text-left">Name</th>
        <th class="col-md-1 text-left">Enabled</th>        
      </tr>
    </thead>
    <tbody>
      <% if @groups.empty? %>
        <tr class="row"><td colspan="3" class="col-md-offset-2 text-center">No Groups Found.</td></tr>
      <% else %>
        <%= render @groups %>
      <% end %>            
    </tbody>
  </table>
</div>