  <tr class="row">
      <td class="text-left"><%= user.id %></td>
      <td class="text-left"><%= user.seat %></td>
      <td class="text-left longtext"><%= link_to user.personaname, edit_user_path(user) %></td>
  </tr>