  <tr class="row">
      <td class="text-left"><%= user.steamid %></td>
      <td class="text-left"><% if !user.seats.blank? %><%= user.seats.first.seat %><% end %></td>
      <td class="text-left longtext"><%= link_to user.name, edit_user_path(user) %></td>
  </tr>