  <tr class="row">
      <td class="text-right"><% if user.seat.present? %><%= user.seat.seat %><% end %></td>
      <td class="text-left longtext"><%= link_to user.name, edit_user_path(user) %></td>
  </tr>
