  <tr class="row">
      <td class="text-left longtext"><%= game.gameid %></td>
      <td class="text-left longtext"><%= link_to game.gameextrainfo, edit_game_path(game) %></td>
      <td class="text-left"><%= game.protocol %></td>
  </tr>