  <tr class="row">
      <td class="text-left longtext"><%= game.steamid %></td>
      <td class="text-left longtext"><%= link_to game.name, edit_game_path(game) %></td>
      <td class="text-left"></td>
  </tr>