<% provide(:title, "Games")  %>
<div class="jumbotron">
	<h3 class="text-center">Games</h3>
	<h5 class="text-center">This is a list of the games seen so far.<br/> Games are automatically added as they are seen.<br/></h5>
  <div class="container">      
      <% if @games.empty? %>
        <div class="row"><div class="text-center">No Games Found.</div></div>
      <% else %>
        <%= render @games %>
      <% end %>              
  </div>
</div>