  <tr class="row">
      <td class="text-left"><%= submission.seat.handle %></td>
      <td class="text-center longtext"><%= link_to submission.url, submission.url %></td>      
      <td class="text-right"><%= submission.name %></td>
      <td class="text-right"><%= submission.ip %></td>
      <td class="text-right">Seat Count</td>
      <td class="text-right">Action</td>
  </tr>