<tr class="row">
  <td class="text-left"><%= identity.provider %></td>
  <td class="text-center"><%= link_to identity.uid, edit_identity_path(identity) %></td>
  <td class="text-center"><%= link_to identity.name, edit_identity_path(identity) %></td>
  <td class="text-right"><%= identity.enabled %></td>
</tr>
