@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@gray-light: #777;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-color: #000000;//#424242;//#$gray-dark;
  /* background: url('temp');         */
  /* background-position: center;     */
  /* background-repeat: no-repeat;    */
  /* background-size: cover;          */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #ff671f !important;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-family: 'Bangers', Impact, Charcoal, sans-serif;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #FFFFFF;//$gray-lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 7px;
  font-weight: bold;
  &:hover {
    color: $gray-lighter;
    text-decoration: none;
  }
}

// .navbar {
//   background-color: #424242 !important;
// }

/* footer */

footerish {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  positin: absolute;
  left: 0;
  right: 0;
  width: 100%;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.table {
  table-layout:fixed;
}

.longtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-50 {
  width: 50%;
}

.btn-33 {
  width: 33.3333333333%;
}

.alert {
  margin-bottom: 9px !important;
}

.steam-img {
  margin-top: 9px !important;
  margin-right: 16px !important;
  margin-bottom: 6px !important;
}

.dropdown-submenu{
  position:relative;
}
.dropdown-submenu>.dropdown-menu{
  top:0;
  right:100%;
  margin-top:-6px;
  margin-right:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu{
  display:block;
}
.dropdown-submenu>a:after {
   display: block;
   content: " ";
   float: left;
   width: 0;
   height: 0;
   border-color: transparent;
   border-style: solid;
   border-width: 5px 5px 5px 0;
   border-right-color: #cccccc;
   margin-top: 5px;
   margin-left: -10px;
}
.dropdown-submenu:hover>a:after{
  border-right-color:$gray-light;
}
.dropdown-submenu.pull-left{
  float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
  right:-100%;
  margin-right:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}

#header {
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-color: #424242;//$gray;
  color: #b1b3b6 !important;//$gray-darker !important;
  a {
    color: #b1b3b6;//$gray-light;
    &:hover {
      color: #ff671f;//$gray-dark;
    }
  }
}

.panel-default {
  border: none !important;
}

.table-striped {
  thead {
    tr{
      th{
        color: #b1b3b6 !important;//$gray-darker !important;
        border-color: #000000 !important;//$gray-darker !important;
        background-color: #424242;//$gray !important;
      }
    }
  }
  tbody{
    tr {
      td {
        color: #424242 !important;//$gray-darker !important;
        border-color: #000000 !important;//$gray-darker !important;
        a {
          color: #424242;//$gray-darker;
          &:hover {
            color: #ff671f;//$gray-dark;
          }
        }
      }
    }
    tr:nth-child(odd) {
      background-color: #b1b3b6;//#424242;//#b1b3b6;//$gray-light;
    }
    tr:nth-child(even) {
      background-color: #b1b3b6;//#424242;//$gray;
    }
  }
}

.footer {
  div {
    color: #b1b3b6;//$gray-light;
    a {
      color: #b1b3b6;//$gray-light;//$gray;
      &:hover {
        color: #b1b3b6;//$gray-light;
      }
    }
  }
}

.form-control, .btn-primary {
  background-color: #b1b3b6 !important;//$gray-light !important;
  color: #000000 !important;//$gray-darker !important;
  border: 1px solid #000000 !important;//$gray-darker !important;
}

::placeholder {
  color: $gray !important;
}

.dropdown-menu {
  background-color: $gray-lighter !important;
}

.form-control:focus {
  border-color: $brand-warning;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 173, 78, 0.6);
}

.form-comment {
  display: none !important;
  visibility:hidden !important;
}
