<% provide(:title, "Filters List")  %>
<div class="jumbotron">
  <h3 class="center">Filters</h3>

  <% if @filters.empty? %>
    <table class="table table-striped table-condensed games">
      <tbody>
        <tr class="row"><td colspan="3" class="col-md-offset-2 text-center">No Filters Found.</td></tr>
      </tbody>
    </table>
  <% else %>
    <% Filter.filter_types.map.each do |key, value|  %>
      <table class="table table-striped table-condensed games">
        <thead>
          <tr class="row">
            <th class="col-md-12 text-center"><%= key.humanize %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @filters.where(:filter_type => key) %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
