<% provide(:title, "Update Seats")  %>
<div class="jumbotron">
	<% if File.exist?("log/seats.log") %>
		<%= simple_format(File.read("log/seats.log")) %>
	<% else %>
  	<h3 class="center">File Not Found</h3>
	<% end %>
</div>