<% provide(:title, "Update Hosts")  %>
<div class="jumbotron">
	<% if File.exist?("log/update_hosts.txt") %>
		<%= simple_format(File.read("log/update_hosts.txt")) %>
	<% else %>
  	<h3 class="center">File Not Found</h3>
	<% end %>
</div>