<% provide(:title, "Update Hosts")  %>
<div class="jumbotron">
	<% if File.exist?("log/hosts.log") %>
		<%= simple_format(File.read("log/hosts.log")) %>
	<% else %>
  	<h3 class="center">File Not Found</h3>
	<% end %>
</div>