<div class="row footer">
  <div class="col-sm-12">
  <small>
  <div class="pull-left">
    This site is not affiliated with Valve or Steam.
</div>
  <div class="pull-right">
    Source available on <%= link_to "GitHub", "https://github.com/wdeasy/byoc.ninja", :target => "_blank" %> |
    <%= link_to "Powered by Steam", "https://store.steampowered.com" %> |
    <%= link_to "Privacy Policy", privacy_policy_path %> |
    <%= link_to "Contact", new_contact_path %>
  </div>
  </small>
  </div>
</div>
